#navbar{
    display: flex;
    height: 8rem;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#menu_nav {
    display: flex;
    justify-content: flex-end;
}
.menu {
    margin-right: 3rem;
    margin-left: 3rem;
    padding-right: 2rem ;
    padding-left: 2rem ;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #FFCF00 ;
}